<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>bootstrap之表单1</title>
	<link rel="stylesheet" href="../dist/css/bootstrap.min.css">
</head>
<body>
<!--.btn按钮有圆角，颜色近似于灰色-->
<!--且添加了样式的按钮鼠标悬停都有微妙的颜色变化-->
<!--.btn-lg按钮变大
    .btn-sm按钮变小
    .active表示按钮按下去的效果
    .btn-block当前按钮宽度变为全屏
    disable=""表示按钮禁用
    .btn-link可让按钮内容变成链接状态
    a标签也可用按钮的类形成按钮表现状态-->
<!---->
<!---->


	<button>这是一个按钮，没有添加任何样式</button>
	<button class="btn btn-default btn-lg">这是一个按钮，有添加样式btn btn-default  btn-lg</button>
	<button class="btn btn-success btn-sm">这是一个按钮，有添加样式btn btn-success btn-ng</button>
	<button class="btn btn-primary active">这是一个按钮，有添加样式btn btn-primary active</button>
	<button class="btn btn-info" disabled="">这是一个按钮，有添加样式btn btn-info disabled=""</button>
	<button class="btn btn-warning btn-block">这是一个按钮，有添加样式btn btn-warning  btn-block</button>
	<button class="btn btn-danger">这是一个按钮，有添加样式btn btn-danger</button>
	<button class="btn btn-link">这是一个按钮，有添加样式btn btn-default</button>
	<a class="btn btn-danger" href="">这是a标签缩写的按钮</a>
	
</body>
</html>