<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>title</title>
	<link  rel="stylesheet" href="../dist/css/bootstrap.min.css">
</head>
<body>
<!--h1:36px h2:30 h3:24 h4:18 h5:14 h6:12 
bootstrap中还存在副标题（small）-->


<h1>标题一<small>小标题</small></h1>
<h2>标题二</h2>
<h3>标题三</h3>
<h4>标题四</h4>
<h5>标题五</h5>
<h6>标题六</h6>
<spam class="h1">标题一</spam>
<spam class="h2">标题二</spam>
<spam class="h3">标题三</spam>
<spam class="h4">标题四</spam>
<spam class="h5">标题五</spam>
<spam class="h6">标题六</spam>

</body>
</html>