<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>排版之表格</title>
	<link rel="stylesheet" href="../dist/css/bootstrap.min.css" />
</head>
<body>
<!--bootstrap中的表格：
   带边框表格：.table-bordered
   条纹状表格：.table-striped
   悬停变色：.table-hover
   紧凑风格：.table-condensed
   -->
<!--.table表格只有中间有隔线-->
   <table class="table table-striped table-hover table-bordered">
   	<thead>
   		<tr>
   			<th>标题一</th>
   			<th>标题二</th>
   			<th>标题三</th>
   			<th>标题四</th>
   			<th>标题五</th>
   		</tr>
   	</thead>
   	<tbody>
   		<tr class="active"><!--鼠标悬停在行和单元格上的颜色-->
   			<td>内容一</td>
   			<td>内容二</td>
   			<td>内容三</td>
   			<td>内容四</td>
   			<td>内容五</td>
   		</tr>
   		<tr class="success">
   			<!--标志成功或积极的动作-->
   			<td>内容一</td>
   			<td>内容二</td>
   			<td>内容三</td>
   			<td>内容四</td>
   			<td>内容五</td>
   		</tr>
   		<tr class="info">
   			<td>内容一</td>
   			<td>内容二</td>
   			<td>内容三</td>
   			<td>内容四</td>
   			<td>内容五</td>
   		</tr>
   		<tr class="waring">
   			<!--警告用户的一种动作-->
   			<td>内容一</td>
   			<td>内容二</td>
   			<td>内容三</td>
   			<td>内容四</td>
   			<td>内容五</td>
   		</tr>
   		<tr class="danger">
   			<!--危险-->
   			<td>内容一</td>
   			<td>内容二</td>
   			<td>内容三</td>
   			<td>内容四</td>
   			<td>内容五</td>
   		</tr>
   	</tbody>
   	<tfoot></tfoot>
   </table>
</body>
</html>