<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文本</title>
	<link rel="stylesheet" href="../dist/css/bootstrap.min.css">
</head>
<body>
	<!-- p标签：
		默认：14px;
		行高：20px;
		底部外边距：10px;
	-->
	<!--bootstrap:
		对齐：.text-left
	          .text-center
	          .text-rigt
	    大小写：
	          .text-lowercase
	          .text.uppercase
	          .text-capitalize
	      -->
	      <!--bootstrap:
		<mark>标签标记作用，有背景颜色标记
		<del>删除线
		<ins></ins>下划线
		<small></small>变小
		<strong></strong>加粗
	      -->
<p><mark>Bootstrap</mark>是<small>Twitter</small>推出的一个用于前端开发的开源工具包。它由Twitter的设计师<del>Mark Otto和Jacob </del>Thornton合作开发,是一个CSS/HTML框架。<strong>目前,</strong>Bootstrap最新版本为<ins>3.0</ins> 。
</p> 
<p>Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发,是一个CSS/HTML框架。目前,Bootstrap最新版本为3.0 。
</p>
<p class="text-left">Bootstrap</p>
<p class="text-center">Bootstrap</p>
<p class="text-right">Bootstrap</p>
<p class="text-lowercase">HELLO!</p>
<p class="text-uppercase">hello!</p>
<p class="text-capitalize">hello!</p><!--这里hello要小写在添加这个样式类，直接全大写在添加这个类，不会出现首字母大写其余字母小写，而是还是全部都是大写。-->

</body>
</html>